PORT=8000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME
ROBOFLOW_API_KEY=your_roboflow_api_key
ROBOFLOW_MODEL_URL=https://serverless.roboflow.com/metal-defects-8qkmp/2
NODE_ENV=production
